<div class="footer-container">
  <br>
  <ion-text>
    <h1 class="title">No olvides suscribirte</h1>

    <br>
  </ion-text>
  <form class="footer-form">
    <ion-item lines="none">
      <ion-input
        type="text"
        label="NOMBRE"
        labelPlacement="floating"
        name="name"
        required
      ></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-input
        type="email"
        label="CORREO ELECTRÓNICO"
        labelPlacement="floating"
        name="email"
        required
      ></ion-input>
    </ion-item>
    <ion-button type="submit" class="subscribe-button" expand="block"
      >SUSCRIBIRME</ion-button
    >
  </form>
  <br>
  <br>

  <div class="social-icons">
    <ion-item href="https://www.instagram.com" lines="none">
      <ion-icon name="logo-instagram" class="icon-menu"></ion-icon>
    </ion-item>
    <ion-item href="https://www.youtube.com" lines="none">
      <ion-icon name="logo-youtube" class="icon-menu"></ion-icon>
    </ion-item>
    <ion-item href="https://www.pinterest.com" lines="none">
      <ion-icon name="logo-pinterest" class="icon-menu"></ion-icon>
    </ion-item>
    <ion-item href="https://www.tiktok.com" lines="none">
      <ion-icon name="logo-tiktok" class="icon-menu"></ion-icon>
    </ion-item>
  </div>
  
</div>