<!-- DESKTOP -->
<div class="navbar">
  <div class="logo">
    <img src="assets/img/resiliente-logo.png" alt="Resiliente" class="logo-image" />
  </div>
  <div class="right-section">
    <div class="nav-links">
      <ion-button *ngFor="let nav of nav" fill="clear" [routerLink]="nav.link" lines="none" class="nav-link">
        {{ nav.label }}
      </ion-button>
    </div>

    <div class="divider"></div>

    <div class="social-icons">
      <ion-item *ngFor="let icon of icons" [href]="icon.url" target="_blank" lines="none">
        <ion-icon [name]="icon.name" class="icon-menu"></ion-icon>
      </ion-item>
    </div>
  </div>
</div>

<!-- MÓVIL -->
<nav class="mobile-nav">
  <ion-fab vertical="bottom" horizontal="center" translucent="true">
    <ion-fab-button>
      <ion-icon src="assets/icon/iconW.svg" style="font-size: 39px;"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button *ngFor="let social of icons" [href]="social.url" target="_blank">
        <ion-icon [name]="social.name"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  
  <div class="tab-bar">
    <a *ngFor="let tab of nav" [routerLink]="tab.link" class="tab-button" routerLinkActive="active" [ngStyle]="tab.style">
      <ion-icon [name]="tab.icon"></ion-icon>
      <span class="tab-label">{{ tab.label }}</span>
    </a>
  </div>
</nav>