<ion-content [fullscreen]="true">
 <app-colorbar></app-colorbar>
  <app-navbar></app-navbar>

  <div id="container">

    <br><br><br>  
    <!-- SERVICIOS DE CONSULTORÍA -->
    <div class="consultoria-container"> <!-- MORADO -->
      <div class="image-section">
        <div class="image-content">
          <img src="assets/img/psicologia/cursos1.jpg" alt="Image" />
        </div>
      </div>
      <div class="text-section">
        <ion-text>
          <h1>Servicios de Consultoría</h1>
          <div class="divider"></div>
          <p>
            En Resiliente, ofrecemos servicios de consultoría empresarial para impulsar el crecimiento y la eficiencia organizacional. Nuestro equipo de expertos trabaja junto a las empresas para identificar áreas de mejora y desarrollar estrategias efectivas que promuevan el éxito a largo plazo.
          </p>
        </ion-text>
      </div>
    </div>

    <div class="derimg-container" style="background-color: #0965BA;">
      <ion-text>
        <h2>Consultoría empresarial</h2>
        <div class="divider"></div>
        <p>
          Nuestro servicio de consultoría empresarial está diseñado para apoyar a las organizaciones en la optimización de sus procesos y recursos. Trabajamos en estrecha colaboración con nuestros clientes para implementar soluciones innovadoras que impulsen la productividad y el crecimiento sostenido. Este servicio está disponible en línea y presencial.
        </p>
      </ion-text>
      <div class="image-section">
        <div class="image-content">
          <img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="Image" />
        </div>
      </div>
    </div>

    <div class="izimg-container" style="background-color: #0965BA;">
      <div class="image-section">
        <div class="image-content">
          <img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="Image" />
        </div>
      </div>
      <ion-text>
        <h2>Cursos y talleres</h2>
        <div class="divider"></div>
        <p>
          En Resiliente, ofrecemos una variedad de cursos y talleres destinados a fortalecer las habilidades y conocimientos de los profesionales. Nuestros programas están diseñados para ser prácticos y aplicables, ayudando a las personas a alcanzar sus metas personales y profesionales. Este servicio está disponible en línea y presencial.
          <br>
          <u><ion-button (click)="openCursosModal()">Conoce más</ion-button></u>  <!-- ? BOTÓN A ETIQUETA a -->
        </p>
      </ion-text>
    </div>

    <div class="derimg-container" style="background-color: #62B0B0;">
      <ion-text>
        <h2>Conferencias</h2>
        <div class="divider"></div>
        <p>
          Nuestras conferencias están diseñadas para inspirar y educar a los participantes sobre diversos temas relevantes a la psicología y consultoría. Contamos con expertos reconocidos que comparten su conocimiento y experiencias para promover el crecimiento y el aprendizaje continuo. Este servicio está disponible en línea y presencial.
        </p>
      </ion-text>
      <div class="image-section">
        <div class="image-content">
          <img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="Image" />
        </div>
      </div>
    </div>

    <div class="izimg-container" style="margin-bottom: 10px; background-color: #62B0B0;">
      <div class="image-section">
        <div class="image-content">
          <img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="Image" />
        </div>
      </div>
      <ion-text>
        <h2>Orientación Vocacional</h2>
        <div class="divider"></div>
        <p>
          En Resiliente, nuestro servicio de orientación vocacional está diseñado para ayudar a las personas a descubrir sus intereses y habilidades, y guiarlas en la elección de una carrera que se alinee con sus aspiraciones y fortalezas personales. Este servicio está disponible en línea y presencial.
        </p>
      </ion-text>
    </div>
    <app-colorbar></app-colorbar>
    <app-footer></app-footer>
  </div>
</ion-content>


<!-- MODAL DE CURSOS -->
<ion-modal #modal [isOpen]="isCursosModalOpen" (didDismiss)="didDismissCursosModal()" [enterAnimation]="enterAnimation"
[leaveAnimation]="leaveAnimation">>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Nuestros Cursos y Talleres</ion-title>
        <ion-buttons slot="end">
          <ion-icon name="close" class="close" (click)="closeCursosModal()"></ion-icon>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
          <!-- CURSOS Y TALLERES -->
    <div class="cursos-container">
      <div class="card" *ngFor="let curso of cursos">
        <div class="face front">
          <img [src]="curso.img" [alt]="curso.titulo" />
          <!-- <h3>{{ curso.titulo }}</h3> -->
        </div>
        <div class="face back">
          <h3>{{ curso.titulo }}</h3> <!-- TOP -->
          <div class="divider"></div>
          <p> {{ curso.desc }}</p>
          <!-- <div class="divider"></div> -->
          <div class="link">
            <a [href]="curso.link" target="_blank">Más Información</a>
          </div>
        </div>
      </div>
    </div>
    <!-- FIN CURSOS Y TALLERES -->
    </ion-content>
  </ng-template>
</ion-modal>
