<ion-content [fullscreen]="true">
  <app-colorbar></app-colorbar>
  <app-navbar></app-navbar>

  <div id="container">

     <!-- SERVICIOS DE PSICOLOGÍA -->
     <div class="psicologia-container"> <!-- VERDE FUERTE -->
      <div class="text-section">
        <ion-text>
          <h1>Servicios de Psicología</h1>
          <div class="divider"></div>
          <p>
            En Resiliente, nos especializamos en brindar apoyo psicológico integral, adaptado a las necesidades únicas de cada individuo. Nuestro equipo de expertos se dedica a fomentar el bienestar emocional y a proporcionar herramientas efectivas para superar los desafíos de la vida cotidiana.
          </p>
        </ion-text>
      </div>
      <div class="image-section">
        <div class="image-content">
          <img src="assets/img/psicologia/1.JPEG" alt="Servicios de Psicología"/>
        </div>
      </div>
    </div>

    <div class="izimg-container" style="background-color: #B09BE6;">
      <div class="image-section">
        <div class="image-content">
          <img src="assets/img/psicologia/niños.HEIC" alt="Image" />
        </div>
      </div>
      <ion-text>
        <h2>Atención psicológica individual niños</h2>
        <div class="divider"></div>
        <p>
          Nuestro enfoque en la atención psicológica infantil se centra en proporcionar un entorno seguro y acogedor donde los niños puedan expresar sus emociones y desarrollar habilidades para enfrentar situaciones difíciles, promoviendo su bienestar emocional y social. Este servicio está disponible solo de manera presencial.
        </p>
      </ion-text>
    </div>

    <div class="derimg-container" style="background-color: #B09BE6;">
      <ion-text>
        <h2>Atención psicológica individual adolescentes</h2>
        <div class="divider"></div>
        <p>
          Los adolescentes enfrentan una serie de cambios y desafíos únicos. En Resiliente, ofrecemos un espacio de apoyo donde pueden explorar sus emociones, fortalecer su autoestima y adquirir herramientas para navegar la transición hacia la adultez de manera saludable. Este servicio está disponible en línea y presencial.
        </p>
      </ion-text>
      <div class="image-section">
        <div class="image-content">
          <img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="Image" />
        </div>
      </div>
    </div>

    <div class="izimg-container" style="background-color: #0965BA;">
      <div class="image-section">
        <div class="image-content">
          <img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="Image" />
        </div>
      </div>
      <ion-text>
        <h2>Atención psicológica individual adultos</h2>
        <div class="divider"></div>
        <p>
          Nuestro servicio de atención psicológica para adultos se enfoca en apoyar a las personas en la gestión de sus emociones, el manejo del estrés y el desarrollo de estrategias para enfrentar los retos de la vida diaria, promoviendo un bienestar integral. Este servicio está disponible en línea y presencial.
        </p>
      </ion-text>
    </div>

    <div class="derimg-container" style="background-color: #0965BA;">
      <ion-text>
        <h2>Atención psicológica individual adultos mayores</h2>
        <div class="divider"></div>
        <p>
          En Resiliente, proporcionamos un espacio de apoyo donde los adultos mayores pueden explorar sus sentimientos y adquirir herramientas para enfrentar los desafíos propios de su edad, promoviendo su bienestar y calidad de vida. Este servicio está disponible en línea y presencial.
        </p>
      </ion-text>
      <div class="image-section">
        <div class="image-content">
          <img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="Image" />
        </div>
      </div>  
    </div>

    <div class="izimg-container" style="background-color: #62B0B0;">
      <div class="image-section">
        <div class="image-content">
          <img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="Image" />
        </div>
      </div>
      <ion-text>
        <h2>Psicoterapia de pareja</h2>
        <div class="divider"></div>
        <p>
          La psicoterapia de pareja en Resiliente está diseñada para ayudar a las parejas a mejorar la comunicación, resolver conflictos y fortalecer su relación. Trabajamos con las parejas para crear un vínculo más saludable y satisfactorio. Este servicio está disponible en línea y presencial.
        </p>
      </ion-text>
    </div>

    <div class="derimg-container" style="background-color: #62B0B0;">
      <ion-text>
        <h2>Acompañamiento tanatológico</h2>
        <div class="divider"></div>
        <p>
          El acompañamiento tanatológico en Resiliente está enfocado en brindar apoyo a las personas que atraviesan procesos de duelo. Ofrecemos un espacio de empatía y comprensión para ayudar a enfrentar la pérdida y encontrar un sentido renovado en la vida. Este servicio está disponible en línea y presencial.
        </p>
      </ion-text>
      <div class="image-section">
        <div class="image-content">
          <img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="Image" />
        </div>
      </div>
    </div>
    <app-colorbar></app-colorbar>
    <app-footer></app-footer>
  </div>
</ion-content>
