
ion-content {
    --background: white;
}

#container {
    position: absolute;
    text-align: center;
    top: 30%;
    left: 50px;
    right: 50px;
    margin: 30px 50px 50px;
    padding: 10px 10px none;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    word-wrap: break-word;
    padding: 5px;
    margin: 10px 0;
    color: white;
}

h2 {
    font-size: 25px;
    font-weight: 600;
    word-wrap: break-word;
    padding: 5px;
    margin: 10px 0;
    color: white;
}

p {
    font-size: 15px;
    word-wrap: break-word;
    font-weight: 400;
    padding: 5px;
    margin: 10px 0;
    line-height: 1.5em;
    color: white;
}


.divider {
    border-top: 0.5px solid white;
    width: 100%;
    margin: 15px 0;
}

.psicologia-container {
    background: linear-gradient(to left, #dfdfe2 53%, white 53%);
    width: 100vw;
    height: 400px;
    position: relative;
    display: flex;
    margin-left: calc(-50vw + 50%);
    left: 0;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;

    .image-section {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../../../../assets/img/psicologia/adulto.JPEG");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .image-content {
        display: none;
    }

    .text-section {
        background-color: #62b0b0;
        width: 50%;
        padding: 40px;
        color: white;
        text-align: left;
        border-radius: 20px;
    }
}

.derimg-container {
    width: 100vw;
    height: auto;
    margin-left: calc(-50vw + 50%);
    left: 0;
    padding: 30px;
    text-align: left;
    display: flex;
    position: relative;

    ion-text {
        margin-left: 70px;
    }

    .image-section {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-content {
        position: relative;
    }

    .image-content img {
        width: 250px;
        height: 150px;
        border-radius: 10px;
    }
}

.izimg-container {
    width: 100vw;
    height: auto;
    margin-left: calc(-50vw + 50%);
    left: 0;
    padding: 30px;
    text-align: right;
    display: flex;
    position: relative;

    ion-text {
        margin-right: 70px;
    }

    .image-section {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-content {
        position: relative;
    }

    .image-content img {
        width: 250px;
        height: 150px;
        border-radius: 10px;
    }
}


/* MÓVIL */
@media (max-width: 768px) {
    #container {
        left: 20px;
        right: 20px;
        text-align: center;
        margin: 13px 20px 20px;
        top: 0;
    }

    .psicologia-container {
        background: #dfdfe2;
        flex-direction: column;
        height: auto;

        .image-section,
        .text-section {
            width: 100%;
        }

        .text-section {
            border-radius: 0;
        }

        .image-section {
            background-image: none;
        }

        .image-content {
            display: block;
        }

        .image-content img {
            width: 60%;
            height: auto;
            margin-top: 5px;
            border-radius: 20px;
        }

        .text-section {
            padding: 20px;
            text-align: center;
            margin-top: 0;
        }
    }

    .derimg-container,
    .izimg-container {
        padding: 10px;
        height: auto;

        ion-text {
            margin: 0;
        }

        .image-section {
            width: 350%;
        }

        .image-section img {
            width: 100%;
            height: auto;
            margin-top: 60px;
        }
    }
}