.floating-button {
    position: fixed;
    bottom: 30px;
    left: 50px;
    z-index: 999;
}

ion-modal {
    --border-radius: 20px;
}

ion-button {
    --background: var(--ion-color-secondary);
    --color: var(--ion-color-medium);
    --border-radius: 20px;
}

ion-toolbar {
    --background: var(--ion-color-primary);
}

ion-title {
    font-size: 25px;
    font-weight: 600;
    word-wrap: break-word;
    padding: 5px;
    margin: 10px 0;
    color: white;
    text-align: center;
}

.close {
    font-size: 32px;
    color: #ffffff;
}

p {
    font-size: 15px;
    word-wrap: break-word;
    font-weight: 400;
    padding: 5px;
    margin: 10px 0;
    line-height: 1.5em;
    color: black;
    text-align: center;
}

ion-content {
    --background: white;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group ion-item {
    flex: 0 0 50%;
}

ion-item {
    --background: white;
    border-radius: 15px;
    margin: 0 5px;
    --color: black;
    height: auto;
    --border-radius: 15px;
}

ion-input {
    margin-top: 0.5px;
}

ion-input,
ion-textarea {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: black;
    height: 100%;
}

ion-select {
    --color: black;
    --placeholder-color: black;
    --placeholder-opacity: 1;
}

.submit-button {
    margin-top: 20px;
}

/* scroll */
ion-content::part(scroll) {
    scrollbar-color: #B09BE6 #f1f1f1;
}

ion-content::part(scroll)::-webkit-scrollbar {
    width: 8px;
}

ion-content::part(scroll)::-webkit-scrollbar-thumb {
    background-color: #B09BE6;
    border-radius: 4px;
}

ion-content::part(scroll)::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

ion-item {
    --highlight-background: white;
    --color-focused: var(--ion-color-secondary);
    --color: var(--ion-color-secondary);
}

ion-input {
    --padding-start: 3px;
    --padding-end: 3px;
    --padding-top: 3px;
    --padding-bottom: 3px;
    --background: white;
    --border-color: var(--ion-color-secondary);
    --border-width: 1px;
    --border-radius: 13px;
}

ion-input::part(native) {
    padding: 100px;
}



@media (max-width: 768px) {
    .floating-button {
        bottom: 20px;
        left: 10px;
    }

    .form-group {
        flex-direction: column;
    }

    .form-group ion-item {
        flex: 0 0 100%;
        margin-bottom: 15px;
    }
}
