<div class="floating-button">
  <ion-button class="agCita" (click)="openCitaModal()">Agenda tu cita</ion-button>
</div>

<!-- MODAL DE CITA  -->
<ion-modal #modal [isOpen]="isCitaModalOpen" (didDismiss)="didDismissCitaModal()" [enterAnimation]="enterAnimation"
  [leaveAnimation]="leaveAnimation">
  <ng-template>
    <div class="container" [ngClass]="{'active': isCitaMode}" id="container">
      <div class="form-container personales">
        <form [formGroup]="formPaciente">
          <h1>Datos Personales</h1>

          <ion-input type="text" label="Nombre Completo" formControlName="nombre" labelPlacement="floating" required></ion-input>

          <ion-item>
            <ion-label>Género</ion-label>
            <ion-select formControlName="genero" placeholder="Selecciona Género">
              <ion-select-option value="Masculino">Masculino</ion-select-option>
              <ion-select-option value="Femenino">Femenino</ion-select-option>
              <ion-select-option value="Otro">Otro</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-input type="date" label="fecha de nacimieto" labelPlacement="floating" formControlName="fecha_nacimiento" required></ion-input>
          <ion-input type="tel", label="Numero de telefono", labelPlacement="floating", formControlName="numero_contacto" required></ion-input>
          <ion-item>
            <ion-label position="floating"> Comentarios </ion-label>
            <ion-textarea formControlName="comentarios"></ion-textarea>
          </ion-item>

          <h1> Dirección </h1>
          <ion-input type="text" label="Calle" formControlName="calle" labelPlacement="floating" required></ion-input>
          <ion-input type="text" label="Número" formControlName="numero" labelPlacement="floating" required></ion-input>
          <ion-input type="text" label="Colonia" formControlName="colonia" labelPlacement="floating" required></ion-input>
          <ion-input type="text" label="Código Postal" formControlName="cp" labelPlacement="floating" required></ion-input>

          <!--  Captcha
          <div>
            <re-captcha (resolved)="onCaptchaResolved($event)" sitekey="6LdWgEIqAAAAABzh1DIh5Fo4nQQKKWj0VJRt7s_8"></re-captcha>

          </div>
          -->


          <button (click)="showCitaForm()">Siguiente</button>  <!-- PONER CAPTCHA AQUÍ -->
        </form>
      </div>
      <div class="form-container citas">
        <form>
          <h1>Datos de la Cita</h1>
          <ion-item>
            <ion-select formControlName="tipoCita" label="Tipo de cita" labelPlacement="floating" interface="popover" required>
              <ion-select-option disabled>Servicios de Psicología</ion-select-option>
              <ion-select-option *ngFor="let psic of serviciosPsicologia">{{ psic.tipo }}</ion-select-option>
              <ion-select-option disabled>Servicios de Consultoría</ion-select-option>
              <ion-select-option *ngFor="let const of serviciosConsultoria">{{ const.tipo }}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-input type="date" label="Fecha" labelPlacement="floating" name="date" required></ion-input>
          <ion-input type="time" label="Hora" labelPlacement="floating" name="time" required></ion-input>
          <ion-item>
            <ion-select formControlName="psicologo" label="Psicólogo" labelPlacement="floating" interface="popover" required>
              <ion-select-option *ngFor="let psicologo of psicologos">{{ psicologo.nombre }}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-textarea label="Cuéntanos sobre ti" labelPlacement="floating" name="description" placeholder="Escribe un poco sobre ti"></ion-textarea>
          <button>Reservar Cita</button>
        </form>
      </div>
      <div class="toggle-container">
        <div class="toggle">
          <div class="toggle-panel toggle-left">
            <h1>Datos de la Cita</h1>
            <p>Por favor, proporciona los detalles de la cita que deseas agendar</p>
            <button (click)="showPersonalesForm()">Volver a Datos Personales</button>
          </div>
          <div class="toggle-panel toggle-right">
            <h1>Datos Personales</h1>
            <p>Proporciona tus datos personales para agendar la cita</p>
            <button (click)="showCitaForm()">Ir a Datos de la Cita</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ion-modal>
