<ion-content [fullscreen]="true">
  <app-colorbar></app-colorbar>
  <app-navbar></app-navbar>

  <div class="container">

    <!-- BLOG -->
    <div class="blog-container">
      <div class="image-section">
        <div class="image-content">
          <img src="assets/img/webp/psicologia/curso2.webp" alt="Image" />
        </div>
      </div>
      <div class="text-section">
        <ion-text>
          <h1>Bienvenidos a nuestro Blog</h1>
          <div class="divider"></div>
          <p>
            En nuestro blog encontrarás una variedad de artículos escritos por expertos en psicología y consultoría.
            Abordamos temas actuales, proporcionamos consejos prácticos y compartimos experiencias para ayudarte a 
            mejorar tu bienestar emocional y tu desarrollo personal. Queremos que este espacio sea una fuente de 
            inspiración y apoyo en tu camino hacia una vida más plena y equilibrada.
          </p>
        </ion-text>
      </div>
    </div>

    <div class="top">
      <ion-button fill="clear" (click)="openAgBlogModal()">
        <ion-icon src="assets/icon/agregar.svg" class="add"></ion-icon> <!-- Agregar -->
      </ion-button>
      <ion-searchbar show-clear-button="focus" placeholder="Buscar"></ion-searchbar>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="4" *ngFor="let blog of blogs">
          <ion-card>
            <img [src]="blog.img" [alt]="blog.tema"/>
            <ion-card-header>
              <ion-card-title>{{ blog.titulo }}</ion-card-title>
              <ion-card-subtitle>{{ blog.fecha | date:'fullDate'}}</ion-card-subtitle>
            </ion-card-header>
            <ion-button class="more" (click)="  openVerBlogModal()">Ver más</ion-button>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    

    <app-colorbar></app-colorbar>
    <app-footer></app-footer>
  </div>
</ion-content>


<!-- MODAL AGREGAR BLOG -->
<ion-modal #modal [isOpen]="isAgBlogModalOpen" (didDismiss)="didDismissAgBlogModal()" [enterAnimation]="enterAnimation"
[leaveAnimation]="leaveAnimation">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Agrega un Blog</ion-title>
        <ion-buttons slot="end">
          <ion-icon name="close" class="close" (click)="closeAgBlogModal()"></ion-icon>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="modal-container">
      <form [formGroup]="agBlog">
          <ion-item>
            <ion-input label="Título" labelPlacement="floating" placeholder="Agrega un título"></ion-input>
          </ion-item>
          <ion-item>
            <ion-textarea label="Contenido" labelPlacement="floating" placeholder="Agrega el contenido"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label position="floating" style="color: black;">Imagen</ion-label> <br>
            <input type="file" accept="image/*" class="custom-file-input">
          </ion-item>
          <ion-item>
            <ion-input label="Autor" labelPlacement="floating" placeholder="Agrega el autor"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Fecha" labelPlacement="floating" type="date"></ion-input>
          </ion-item>
          <ion-buttons>
            <ion-button class="ag" (click)="createBlog()" [disabled]="!isFormValid">Agregar</ion-button>
          </ion-buttons>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>


<!-- MODAL PARA VER LOS BLOGS-->
<ion-modal #modal [isOpen]="isBlogOpen" (didDismiss)="didDismissVerBlogModal()" [enterAnimation]="enterAnimation"
[leaveAnimation]="leaveAnimation">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Si jalo</ion-title>
        <ion-buttons slot="end">
          <ion-icon name="close" class="close" (click)="closeVerBlogModal()"></ion-icon>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>

      

    </ion-content>
  </ng-template>
</ion-modal>