.color-bars {
  display: flex;
  height: 25px;
  width: 100%;
}

.bar {
  height: 100%;
  flex-basis: 20%;
}

.bar1 {
  background-color: #B09BE6;
}

.bar2 {
  background-color: #0965BA;
}

.bar3 {
  background-color: #9BDDB9;
}

.bar4 {
  background-color: #62B0B0;
}

.bar5 {
  background-color: #888A89;
}

ion-content {
  --background: var(--ion-color-light);
}

#container {
  text-align: center;
  top: 50%;
  left: 50px;
  right: 50px;
  margin: none 50px 50px;
  position: absolute;
}

ion-button {
  text-transform: capitalize;
  margin: 10px;
}
