<ion-content [fullscreen]="true">
  <div class="background">
    <img src="assets/gif/intro2.gif">
  </div>
  <app-colorbar></app-colorbar>
  <div class="container">
    <div class="introduccion-container">
      <ion-text>
        <h1>¡ATENCIÓN!</h1>
        <p>
          Bienvenidos a Resiliente, un espacio dedicado al bienestar
          emocional y mental de nuestros consultantes. Actualmente nuestro 
          sitio está en construcción.
        </p>
      </ion-text>    
    </div>
  </div>
</ion-content>
