<ion-content [fullscreen]="true">
  <app-colorbar></app-colorbar>
  <div class="container">
    <div class="introduccion-container">
      <ion-text>
        <h1>¡ATENCIÓN!</h1>
        <p>
          Bienvenidos a Resiliente, un espacio dedicado al bienestar
          emocional y mental de nuestros consultantes. Actualmente nuestro 
          sitio está en construcción
        </p>
      </ion-text>    
  </div>
  <div class="video">
    <video width="100%" autoplay muted loop>
      <source src="assets/video/intro1.mp4" type="video/mp4">
      Tu navegador no soporta el elemento de video.
    </video>
  </div>
</div>
</ion-content>