ion-content {
    --background: white;
}

.container {
    position: absolute;
    text-align: center;
    top: 30%;
    left: 50px;
    right: 50px;
    margin: 30px 50px 50px;
    padding: 10px 10px none;
}

ion-searchbar {
    --background: #B09BE6;
    --color: white;
    --placeholder-color: #fff;
    --icon-color: #fff;
    --clear-button-color: #fff;
    --border-radius: 10px;
}

.tabla-container {
    overflow-x: auto;
}


.content-table {
    border-collapse: collapse;
    margin: 20px auto 20px;
    font-size: 0.9em;
    width: 100%;
    max-width: 800px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
    background-color: #62B0B0;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

th {
    padding: 12px 20px;
    text-align: center;
    color: white;
}

td {
    padding: 12px 20px;
    text-align: center;
    color: black;
}

ion-icon {
    font-size: 20px;
}

/* MÓVIL */
@media (max-width: 768px) {
    .container {
        left: 20px;
        right: 20px;
        margin: 13px 20px 20px;
        top: 0;
    }

    ion-searchbar {
        width: 70%;
        margin: 15px 80px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content-table {
        font-size: 0.8em;
    }

    .content-table thead {
        display: none;
    }

    .content-table,
    .content-table tbody,
    .content-table tr,
    .content-table td {
        display: block;
        width: 100%;
    }

    .content-table tr {
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .content-table td {
        text-align: center;
        padding-left: 50%;
        position: relative;
        border-bottom: 1px solid #eee;
    }

    .content-table td:last-child {
        border-bottom: none;
    }

    .content-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }
}