ion-content {
    --background: white;
}

.container {
    text-align: center;
    margin: 20px 50px;
}

.table-container {
    margin-top: 20px;
}

ion-searchbar {
    --background: #B09BE6;
    --color: white;
    --placeholder-color: #fff;
    --icon-color: #fff;
    --clear-button-color: #fff;
    --border-radius: 10px;
    margin: 10px auto;
    width: 70%;
}

.table-wrapper {
    overflow-x: auto;
    margin-top: 20px;
}

.content-table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    font-size: 0.9em;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
    background-color: #62B0B0;
    color: #fff;
    text-align: center;
    font-weight: bold;
}



td {
    padding: 12px 20px;
    text-align: center;
    color: black; /* Cambiar a un color oscuro */
}

th {
    padding: 12px 20px;
    text-align: center;
    color: white; /* Mantener blanco si el fondo es oscuro */
}

ion-icon {
    font-size: 20px;
}

.logotipo-img {
    width: 50px;  /* Ajusta este valor según tus necesidades */
    height: auto;  /* Mantiene la proporción de la imagen */
    border-radius: 5px; /* Opcional: agrega bordes redondeados */
}

/* Alerta para eliminar */

.custom-alert {
    --background: #f8f8f8;
    --color: #333;
  }
  
  .custom-alert .alert-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .custom-alert .alert-message {
    font-size: 1rem;
    color: #555;
  }
  
  .custom-alert .alert-button {
    background: #3880ff;
    color: white;
  }
  
  .custom-alert .alert-button-secondary {
    background: #f4f4f4;
    color: #333;
  }
  

/* MÓVIL */
@media (max-width: 768px) {
    ion-searchbar {
        width: 100%;
    }

    .content-table {
        font-size: 0.8em;
    }

    .content-table thead {
        display: none;
    }

    .content-table,
    .content-table tbody,
    .content-table tr,
    .content-table td {
        display: block;
        width: 100%;
    }

    .content-table tr {
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .content-table td {
        padding-left: 50%;
        position: relative;
        border-bottom: 1px solid #eee;
    }

    .content-table td:last-child {
        border-bottom: none;
    }

    .content-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }
}
