<ion-content [fullscreen]="true">
  <app-colorbar></app-colorbar>
  <app-navbar></app-navbar>
  <br>
  <!-- Consultorios -->
   <h3>Consultorios</h3>
   <div class="table-container">
    <ion-searchbar show-clear-button="focus" placeholder="Buscar"></ion-searchbar>
    <div class="table-wrapper">
      <table class="content-table">
        <thead>
          <tr>
            <th>id</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Modalidad</th>
            <th>Capacidad diaria </th>
            <th>Citas ocupadas</th>
            <th>Estado</th>
            <th>Ultima fecha actualizada</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cons of allConsultorios">
            <td data-label="id"> {{cons.id}} </td>
            <td data-label="nombre">{{cons.nombre}} </td>
            <td data-label="tipo">{{cons.tipo}}</td>
            <td data-label="modalidad">{{cons.modalidad}}</td>
            <td data-label="capacidad diaria">{{cons.cpd}}</td>
            <td data-label="citas ocupadas">{{cons.citasUso}}</td>
            <td data-label="estado">{{cons.estado}}</td>
            <td data-label="ultima fecha actualizada">{{cons.lastDateUpdate}}</td>
          </tr>
        </tbody>
      </table>
    </div>
   </div>

  <!-- Citas -->
  <h3>Citas</h3>
  <div class="table-container">
    <ion-searchbar show-clear-button="focus" placeholder="Buscar"></ion-searchbar>
    <div class="table-wrapper">
      <table class="content-table">
        <thead>
          <tr>
            <th>Nombre completo</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Tipo de cita</th>
            <th>Fecha</th>
            <th>Horario</th>
            <th>Psicólogo</th>
            <th>Cuentanos de ti</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cita of allcitas">
            <td data-label="Nombre Completo:">{{ cita.nombrecompleto }}</td>
            <td data-label="Correo:">{{ cita.correo }}</td>
            <td data-label="Teléfono:">{{ cita.telefono }}</td>
            <td data-label="Tipo de cita:">{{ cita.tipocita }}</td>
            <td data-label="Fecha:">{{ cita.fecha }}</td>
            <td data-label="Horario:">{{ cita.horario }}</td>
            <td data-label="Psicólogo:">{{ cita.psicologo }}</td>
            <td data-label="Cuentanos de ti:">{{ cita.cuentanosdeti }}</td>
            <td data-label="Editar:"><ion-icon name="create-outline" (click)="editCita(cita.id); OpenEditCita()"></ion-icon></td>
            <td data-label="Eliminar:"><ion-icon name="trash-outline" color="danger"></ion-icon></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <br>

  <!-- Colaboradores -->
  <h3>Colaboradores</h3>
  <div class="table-container">
    <ion-searchbar show-clear-button="focus" placeholder="Buscar"></ion-searchbar>
    <div class="table-wrapper">
      <table class="content-table">
        <thead>
          <tr>
            <th>Acronimo</th>
            <th>Nombre comercial</th>
            <th>url</th>
            <th>Logotipo</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let colab of allColabs">
            <td data-label="Acronimo:">{{ colab.acronimo }}</td>
            <td data-label="nombre_comercial">{{ colab.nombre_comercial }}</td>
            <td data-label="url">{{ colab.url }}</td>
            <td data-label="Logotipo">
              <img [src]="'data:image/jpeg;base64,' + colab.logotipo" [alt]="colab.acronimo"/>
            </td>
            <td data-label="Editar:"><ion-icon name="create-outline" (click)="editColab(colab.id); OpenEditCita()"></ion-icon></td>
            <td data-label="Eliminar:">
              <ion-icon name="trash-outline" (click)="deleteColab(colab)" color="danger"></ion-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <app-colorbar></app-colorbar>
  <app-footer></app-footer>
</ion-content>
