<ion-content [fullscreen]="true">
  <app-colorbar></app-colorbar>
  <app-navbar></app-navbar>
  
  <div class="container" id="container">

    <ion-searchbar show-clear-button="focus" placeholder="Buscar"></ion-searchbar>

    <div class="table-container">
      <table class="content-table">
        <thead>
          <tr>
            <th>Nombre de Usuario</th>
            <th>Nombre Completo</th>
            <th>Fecha</th>
            <th>Teléfono</th>
            <th>Correo</th>
            <th>Tipo de cita</th>
            <th>Psicólogo</th>
            <th>Horario</th>
            <th></th>
            <th></th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of pruebas">
            <td data-label="Nombre de Usuario:">{{ p.userName }}</td>
            <td data-label="Nombre Completo:">{{ p.nombre }}</td>
            <td data-label="Fecha:">{{ p.fecha }}</td>
            <td data-label="Teléfono:">{{ p.tel }}</td>
            <td data-label="Correo:">{{ p.correo }}</td>
            <td data-label="Tipo de cita:">{{ p.cita }}</td>
            <td data-label="Psicólogo:">{{ p.psicologo }}</td>
            <td data-label="Horario:">{{ p.horario }}</td>
            <td data-label="Editar:"><ion-icon name="create-outline"></ion-icon></td>
            <td data-label="Eliminar:"><ion-icon name="trash-outline" color="danger"></ion-icon></td>
          </tr>
        </tbody>
      </table>
    </div>

    <app-colorbar></app-colorbar>
    <app-footer></app-footer>

  </div>

</ion-content>
