ion-content {
    --background: white;
}

#container {
    position: absolute;
    top: 22%;
    left: 50px;
    right: 50px;
    margin: 30px 50px 50px;
    padding: 10px 10px none;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    word-wrap: break-word;
    padding: 5px;
    margin: 10px 0;
    color: white;
}

h2 {
    font-size: 25px;
    font-weight: 600;
    word-wrap: break-word;
    padding: 5px;
    margin: 10px 0;
    color: white;
}

p {
    font-size: 15px;
    word-wrap: break-word;
    font-weight: 400;
    padding: 5px;
    margin: 10px 0;
    line-height: 1.5em;
    color: white;
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    color: white;
}

.divider {
    border-top: 0.5px solid white;
    width: 100%;
    margin: 15px 0;
}

.nosotros-container {
    background: linear-gradient(to right, #F0E2AC 53%, white 53%);
    width: 100vw;
    height: 400px;
    position: relative;
    display: flex;
    margin-left: calc(-50vw + 50%);
    left: 0;
    justify-content: center;
    align-items: center;

    .image-section {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-content {
        position: relative;
    }

    .image-content img {
        width: 400px;
        height: 200px;
        border-radius: 10px;
    }

    .text-section {
        background-color: #B09BE6;
        width: 49.9%;
        padding: 30px;
        color: white;
        text-align: left;
        border-radius: 20px;
    }
}

.mision-container {
    background-color: #62B0B0;
    width: 100vw;
    height: 200px;
    margin-top: 30px;
    margin-left: calc(-50vw + 50%);
    left: 0;
    padding: 30px;
    text-align: left;
    display: flex;
    position: relative;

    ion-text {
        margin-left: 70px;
    }

    .image-section {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-content {
        position: relative;
    }

    .image-content img {
        width: 250px;
        height: 150px;
        border-radius: 10px;
    }
}

.vision-container {
    background-color: #62B0B0;
    width: 100vw;
    height: 200px;
    margin-left: calc(-50vw + 50%);
    left: 0;
    padding: 30px;
    text-align: right;
    display: flex;
    position: relative;

    ion-text {
        margin-right: 70px;
    }

    .image-section {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-content {
        position: relative;
    }

    .image-content img {
        width: 250px;
        height: 150px;
        border-radius: 10px;
    }
}

.valores-container {
    background-color: white;
    width: 100vw;
    height: auto;
    margin-left: calc(-50vw + 50%);
    left: 0;
    padding: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;

    .valores-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 50px 10px;
        padding: 10px;
        justify-content: center;
    }

    .valor-card {
        background-color: #B09BE6;
        border-radius: 10px;
        padding: 15px;
        width: 100%;
        max-width: 350px;
        height: 400px;
        text-align: center;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .card-image {
            width: 100%;
            height: 200px;
            border-radius: 5px;
            margin-bottom: 20px;
        }
    }
}

.equipo-container {
    background: linear-gradient(to left, #DFDFE2 53%, white 53%);
    width: 100vw;
    height: 400px;
    position: relative;
    display: flex;
    margin-left: calc(-50vw + 50%);
    left: 0;
    justify-content: center;
    align-items: center;

    .image-section {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-content {
        position: relative;
    }

    .image-content img {
        width: 400px;
        height: 200px;
        border-radius: 10px;
    }

    .text-section {
        background-color: #62B0B0;
        width: 49.9%;
        padding: 30px;
        color: white;
        text-align: left;
        border-radius: 20px;
    }
}

.psic-container {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    left: 0;

    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    position: relative;
    width: 100%;
    max-width: 300px;
    height: 350px;
    margin: 40px;

    background-image: url('../../../../assets/img/resiliente-logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    .face {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 10px;
        overflow: hidden;
        transition: 0.5s;
    }

    .front {
        transform: perspective(600px) rotateY(0deg);
        box-shadow: 0 5px 10px #000;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        h3 {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 45px;
            line-height: 45px;
            color: #fff;
            background: rgba(0, 0, 0, 0.4);
            text-align: center;
        }
    }

    .back {
        transform: perspective(600px) rotateY(180deg);
        background: rgb(3, 35, 54);
        padding: 15px;
        color: #f3f3f3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        box-shadow: 0 5px 10px #000;
    }

    &:hover {
        .front {
            transform: perspective(600px) rotateY(180deg);
        }

        .back {
            transform: perspective(600px) rotateY(360deg);
        }
    }
}


/* MÓVIL */
@media (max-width: 768px) {
    #container {
        left: 20px;
        right: 20px;
        text-align: center;
        margin: 13px 20px 20px;
        top: 0;
    }

    .nosotros-container {
        flex-direction: column-reverse;
        height: auto;
        background: #F0E2AC;

        .image-section,
        .text-section {
            width: 100%;
        }

        .text-section {
            border-radius: 0;
        }

        .image-content img {
            width: 50%;
            height: auto;
            margin-top: 5px;
        }

        .text-section {
            padding: 20px;
            text-align: center;
        }
    }

    .mision-container,
    .vision-container {
        padding: 10px;
        height: auto;

        ion-text {
            margin: 0;
        }

        .image-section {
            width: 100%;
        }

        .image-content img {
            width: 100%;
            height: auto;
            margin-top: 50px;
        }
    }

    .valores-container .valores-cards {
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }

    .valores-container .valor-card {
        width: 80%;
        max-width: none;
    }

    .equipo-container {
        flex-direction: column;
        height: auto;
        background: #DFDFE2;

        .image-section,
        .text-section {
            width: 100%;
        }

        .text-section {
            border-radius: 0;
        }

        .image-content img {
            width: 50%;
            height: auto;
            margin-top: 5px;
        }

        .text-section {
            padding: 20px;
            text-align: center;
        }
    }
}