<ion-content [fullscreen]="true">
  <app-colorbar></app-colorbar>
  <app-navbar></app-navbar>

  <div id="container">

    <!-- SERVICIOS DE PSICOLOGÍA -->
    <div class="psicologia-container">
      <div class="text-section">
        <ion-text>
          <h1>Psicología</h1>
          <div class="divider"></div>
          <p>
            En Resiliente, nos especializamos en brindar apoyo psicológico integral, adaptado a las necesidades únicas de cada individuo. Nuestro equipo de expertos se dedica a fomentar el bienestar emocional y a proporcionar herramientas efectivas para superar los desafíos de la vida cotidiana.
          </p>
        </ion-text>
      </div>
      <div class="image-section">
        <div class="image-content">
          <img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="Image"/>
        </div>
      </div>
    </div>

    <div class="izimg-container" style="background-color: #B09BE6;">
      <div class="image-section">
        <div class="image-content">
          <img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="Image" />
        </div>
      </div>
      <ion-text>
        <h2>Atención psicológica individual niños</h2>
        <div class="divider"></div>
        <p>
          Nuestro enfoque en la atención psicológica infantil se centra en proporcionar un entorno seguro y acogedor donde los niños puedan expresar sus emociones y desarrollar habilidades para enfrentar situaciones difíciles, promoviendo su bienestar emocional y social.
        </p>
      </ion-text>
    </div>

    <div class="derimg-container">
      <ion-text>
        <h2>Atención psicológica individual adolescentes</h2>
        <div class="divider"></div>
        <p>
          Los adolescentes enfrentan una serie de cambios y desafíos únicos. En Resiliente, ofrecemos un espacio de apoyo donde pueden explorar sus emociones, fortalecer su autoestima y adquirir herramientas para navegar la transición hacia la adultez de manera saludable.
        </p>
      </ion-text>
      <div class="image-section">
        <div class="image-content">
          <img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="Image" />
        </div>
      </div>
    </div>

    <div class="izimg-container" style="background-color: #9BDDB9;">
      <div class="image-section">
        <div class="image-content">
          <img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="Image" />
        </div>
      </div>
      <ion-text>
        <h2>Atención psicológica individual adultos</h2>
        <div class="divider"></div>
        <p>
          Nuestro servicio de atención psicológica para adultos se enfoca en apoyar a las personas en la gestión de sus emociones, el manejo del estrés y el desarrollo de estrategias para enfrentar los retos de la vida diaria, promoviendo un bienestar integral.
        </p>
      </ion-text>
    </div>

    <div class="derimg-container">
      <ion-text>
        <h2>Psicoterapia de pareja</h2>
        <div class="divider"></div>
        <p>
          La psicoterapia de pareja en Resiliente está diseñada para ayudar a las parejas a mejorar la comunicación, resolver conflictos y fortalecer su relación. Trabajamos con las parejas para crear un vínculo más saludable y satisfactorio.
        </p>
      </ion-text>
      <div class="image-section">
        <div class="image-content">
          <img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="Image" />
        </div>
      </div>
    </div>

    <div class="izimg-container" style="background-color: #62B0B0;">
      <div class="image-section">
        <div class="image-content">
          <img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="Image" />
        </div>
      </div>
      <ion-text>
        <h2>Acompañamiento tanatológico</h2>
        <div class="divider"></div>
        <p>
          El acompañamiento tanatológico en Resiliente está enfocado en brindar apoyo a las personas que atraviesan procesos de duelo. Ofrecemos un espacio de empatía y comprensión para ayudar a enfrentar la pérdida y encontrar un sentido renovado en la vida.
        </p>
      </ion-text>
    </div>

    <!-- SERVICIOS DE CONSULTORÍA -->
    <div class="consultoria-container">
      <div class="image-section">
        <div class="image-content">
          <img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="Image" />
        </div>
      </div>
      <div class="text-section">
        <ion-text>
          <h1>Consultoría</h1>
          <div class="divider"></div>
          <p>
            En Resiliente, ofrecemos servicios de consultoría empresarial para impulsar el crecimiento y la eficiencia organizacional. Nuestro equipo de expertos trabaja junto a las empresas para identificar áreas de mejora y desarrollar estrategias efectivas que promuevan el éxito a largo plazo.
          </p>
        </ion-text>
      </div>
    </div>

    <div class="izimg-container" style="background-color: #62B0B0;">
      <div class="image-section">
        <div class="image-content">
          <img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="Image" />
        </div>
      </div>
      <ion-text>
        <h2>Servicio de consultoría empresarial</h2>
        <div class="divider"></div>
        <p>
          Nuestro servicio de consultoría empresarial está diseñado para apoyar a las organizaciones en la optimización de sus procesos y recursos. Trabajamos en estrecha colaboración con nuestros clientes para implementar soluciones innovadoras que impulsen la productividad y el crecimiento sostenido.
        </p>
      </ion-text>
    </div>

    <div class="derimg-container">
      <ion-text>
        <h2>Cursos y talleres</h2>
        <div class="divider"></div>
        <p>
          En Resiliente, ofrecemos una variedad de cursos y talleres destinados a fortalecer las habilidades y conocimientos de los profesionales. Nuestros programas están diseñados para ser prácticos y aplicables, ayudando a las personas a alcanzar sus metas personales y profesionales.
        </p>
      </ion-text>
      <div class="image-section">
        <div class="image-content">
          <img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="Image" />
        </div>
      </div>
    </div>

    <div class="izimg-container" style="margin-bottom: 10px; background-color: #9BDDB9;">
      <div class="image-section">
        <div class="image-content">
          <img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="Image" />
        </div>
      </div>
      <ion-text>
        <h2>Conferencias</h2>
        <div class="divider"></div>
        <p>
          Nuestras conferencias están diseñadas para inspirar y educar a los participantes sobre diversos temas relevantes a la psicología y consultoría. Contamos con expertos reconocidos que comparten su conocimiento y experiencias para promover el crecimiento y el aprendizaje continuo.
        </p>
      </ion-text>
    </div>

    <app-colorbar></app-colorbar>
    <app-footer></app-footer>
  </div>
</ion-content>
