ion-content {
  --background: white;
}

#container {
  text-align: center;
  padding: 10px 10px none;
  margin: 30px 50px 50px none;
}

.btn {
  --border-radius: 15px;
  --box-shadow: none;
  font-size: 12px;
  height: 50px;
  margin: 0 5px;
}

.btn1 {
  --background: var(--ion-color-secondary);
  --color: var(--ion-color-medium);
}

.btn3 {
  --background: #0965BA;
  --color: var(--ion-color-light);
}

.btn4 {
  --background: var(--ion-color-tertiary);
  --color: var(--ion-color-light);
}

h1,
h2,
h3,
p {
  word-wrap: break-word;
  padding: 5px;
  margin: 10px 0;
  color: white;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 25px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: 500;
}

p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5em;
}

ion-label {
  color: white;
}

ion-item {
  --background: white;
  border-radius: 15px;
  margin: 0 5px;
  --color: black;
  width: 160px;
  height: 50px;
}

ion-input {
  text-align: left;
  font-size: 11px;
  font-weight: 400;
  color: black;
}

.divider {
  border-top: 0.5px solid white;
  width: 100%;
  margin: 15px 0;
}

.img-slide {
  background-color: #DFDFE2;
  width: 100vw;
  height: 500px;
  margin-left: calc(-50vw + 50%);
  margin-top: 36px;
}

swiper-container {
  --swiper-navigation-color: #0965ba;
  --swiper-pagination-color: #0965ba;
}

swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

swiper-slide video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.introduccion-container {
  position: relative;
  margin-top: -100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #B09BE6;
  width: 80%;
  max-width: 600px;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  z-index: 10;
}

.card-container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

ion-card {
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  ion-card-content {
    color: white;
    font-size: 30px;
    font-weight: 600;
    z-index: 2;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.7;
  }
}

/* Estilos específicos para cada tarjeta */
.card-psicologia::after {
  background: url('../../assets/img/psicologia/adulto.JPEG') no-repeat center center / cover;
}

.card-consultoria::after {
  background: url('../../assets/img/consultoria/consultoria.webp') no-repeat center center / cover;
}

.card-blogs::after {
  background: url('../../assets/img/psicologia/curso2.webp') no-repeat center center / cover;
}

.card-psicologia {
  background-color: #8c4ef8;
}

.card-blogs {
  background-color: #a5a5a5;
}

.card-consultoria {
  background-color: #9BDDB9;
}


.newsletter-container {
  background-color: #62B0B0;
  width: 100vw;
  padding: 20px;
  margin-left: calc(-50vw + 50%);
  margin-top: 50px;
  text-align: center;

  .newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.post1 {
  background: linear-gradient(to right, #F0E2AC 53%, white 53%);
  width: 100vw;
  height: 400px;
  position: relative;
  display: flex;
  margin-left: calc(-50vw + 50%);
  margin-top: 70px;
  left: 0;
  justify-content: center;
  align-items: center;

  .image-section {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/img/posts/1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .image-content,
  .image-content img {
    display: none;
  }

  .text-section {
    background-color: #B09BE6;
    width: 49.9%;
    padding: 40px;
    color: white;
    text-align: left;
    border-radius: 20px;

    .date {
      font-size: 14px;
      margin: 0;
      font-weight: 100;
    }
  }
}

.post2 {
  background: linear-gradient(to left, #DFDFE2 53%, white 53%);
  width: 100vw;
  height: 400px;
  position: relative;
  display: flex;
  margin-left: calc(-50vw + 50%);
  margin-top: 70px;
  left: 0;
  justify-content: center;
  align-items: center;

  .image-section {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/img/posts/2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .image-content,
  .image-content img {
    display: none;
  }

  .text-section {
    background-color: #62B0B0;
    width: 49.9%;
    padding: 40px;
    color: white;
    text-align: left;
    border-radius: 20px;

    .date {
      font-size: 14px;
      margin: 0;
      font-weight: 100;
    }
  }
}

.post3 {
  background: linear-gradient(to right, #F0E2AC 53%, white 53%);
  width: 100vw;
  height: 400px;
  position: relative;
  display: flex;
  margin-left: calc(-50vw + 50%);
  margin-top: 70px;
  left: 0;
  justify-content: center;
  align-items: center;

  .image-section {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/img/posts/3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .image-content,
  .image-content img {
    display: none;
  }

  .text-section {
    background-color: #B09BE6;
    width: 49.9%;
    padding: 40px;
    color: white;
    text-align: left;
    border-radius: 20px;

    .date {
      font-size: 14px;
      margin: 0;
      font-weight: 100;
    }
  }
}


.comentarios-container {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-top: 50px;
  left: 0;
  padding: 20px;
  background-color: #62B0B0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
}

.comentario-slide {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  height: 250px;
  background-color: #62B0B0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  swiper-slide {
    padding: 50px;
  }
}

ion-modal {
  --border-radius: 16px;


  ion-icon.close {
    color: #ffffff;
    font-size: 28px;
  }

  ion-toolbar {
    --background: #B09BE6;
    --color: white;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  ion-item {
    width: 100%;
    height: auto;
    word-wrap: break-word;
    margin-top: 10px;
  }

  ion-button {
    width: 100px;
    align-self: center;
    justify-content: center;
    align-items: center;
  }


  ion-textarea,
  ion-input {
    color: black;
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 5px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    height: 100px;
    outline: none;
  }

  ion-datetime {
    --background: transparent;
    --background-rgb: 255, 241, 242;
  
    border-radius: 16px;
    box-shadow: rgba(var(--ion-color-rose-rgb), 0.3) 0px 10px 15px -3px;
  }


}

/* .ultima-container {
  background-color: #B09BE6;
  margin-top: 50px;
  padding: 50px 0;
  border-radius: 50px;
  margin-bottom: 10px;

  .content {
    display: flex;
    justify-content: center;
    gap: 80px;

    .item {
      position: relative;
      width: 300px;
      height: 200px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .overlay {
        position: absolute;
        bottom: -40px;
        left: 10px;
        right: 10px;
        background-color: #0965BA;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;

        h3 {
          color: white;
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 10px;
        }
      }
    }
  }
} */

/* Estilo para cada imagen del colaborador */
.Colabs {
  ion-grid {
    --ion-grid-padding: 0; /* Elimina el padding del grid para un ajuste perfecto */
  }
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra los elementos horizontalmente */
  padding: 10px;
}

.Colabs ion-row {
  display: flex;
  flex-wrap: wrap; /* Asegura que los elementos se ajusten a la siguiente línea */
  justify-content: center; /* Centra los elementos horizontalmente */
}

.Colabs ion-col {
  display: flex;
  justify-content: center; /* Centra el contenido dentro de la columna */
  align-items: center; /* Centra el contenido verticalmente */
  padding: 0; /* Elimina el padding por defecto de ion-col */
}

.Colabs ion-img {
  width: 250px; /* Tamaño fijo para todas las imágenes */
  height: 250px; /* Tamaño fijo para todas las imágenes */
  margin: 5px; /* Espacio entre las imágenes */
  object-fit: cover; /* Mantiene la proporción de la imagen */
  cursor: pointer; /* Cambia el cursor al pasar sobre la imagen */
  border-radius: 50%; /* Hace las imágenes circulares si deseas */
  transition: transform 0.3s ease; /* Efecto de transición al pasar el ratón */
}

.Colabs ion-img:hover {
  transform: scale(1.1); /* Efecto de aumento al pasar el ratón */
}

@media (max-width: 1024px) {
  .card-container {
    flex-wrap: wrap;
  }

  ion-card {
    width: 45%;
    margin-bottom: 20px;
  }

  .newsletter-container .newsletter-form {
    flex-direction: column;
    align-items: stretch;

    ion-item,
    .subscribe-button {
      width: 100%;
      margin: 5px 0;
    }
  }

  .post1,
  .post2,
  .post3 {
    flex-direction: column-reverse;
    height: auto;

    .image-section,
    .text-section {
      width: 100%;
    }

    .image-section {
      background-image: none;
      align-items: center;
    }

    .image-content {
      display: block;
      position: relative;
    }

    .image-content img {
      width: 400px;
      height: 200PX;
      border-radius: 10px;
      display: block;
      margin: 10px;
    }

    .text-section {
      border-radius: 0;
    }
  }

  .post1, .post3 {
    background: #F0E2AC;
  }

  .post2 {
    background: #DFDFE2;
  }

  .post2 {
    flex-direction: column;
  }

/*   .ultima-container .content {
    flex-direction: column;
    align-items: center;

    .item {
      width: 90%;
      margin-bottom: 60px;
    }
  } */
}


@media (max-width: 768px) {
  #container {
    margin: none 20px none;
    padding-top: none;
  }

  .img-slide .introduccion-container {
    width: 90%;
    padding: 30px;
  }

  ion-card {
    width: 100%;
  }

  .newsletter-container {
    height: auto;
    padding: 30px 20px;

    p {
      margin: 10px 20px;
    }
  }

  .post1,
  .post2,
  .post3 {
    .image-content img {
      width: 60%;
      height: auto;
      margin: 5px auto 5px;
      border-radius: 20px;
    }


    .text-section {
      padding: 20px;
    }
  }
}