ion-content {
  --background: var(--ion-color-light);
}

#container {
  text-align: center;
  top: 50%;
  left: 50px;
  right: 50px;
  margin: none 50px 50px;
  position: absolute;
  transform: translateY(-50%);
}

ion-button {
  text-transform: capitalize;
  margin: 10px;
}

img {
  width: 300px;
  height: 200px;
  margin-top: 50px;
}