<ion-content [fullscreen]="true">
  <app-colorbar></app-colorbar>
  <app-navbar></app-navbar>

  <div id="container">

    <swiper-container class="img-slide" navigation="true" autoplay-delay="13000">
      <swiper-slide *ngFor="let slide of slides">
        <img [src]="slide.img">
      </swiper-slide>
    </swiper-container>

    <div class="introduccion-container">
      <ion-text>
        <h1>INTRODUCCIÓN</h1>
        <p>
          Bienvenidos a Resiliente, un espacio dedicado al bienestar
          emocional y mental de nuestros consultantes. En Resiliente ofrecemos
          servicios de terapia personalizada, consultoría para empresas y organizaciones
        </p>
      </ion-text>
      <ion-button class="btn btn1" shape="round" routerLink="/nosotros">CONOCE MÁS</ion-button>
    </div>

    <div class="card-container">
      <ion-card *ngFor="let card of cards" [ngClass]="card.class" [routerLink]="card.link">
        <ion-card-content>{{ card.titulo }} </ion-card-content>        
      </ion-card>
    </div>

    <div class="newsletter-container">
      <ion-text>
        <h1>SUSCRÍBETE AL NEWSLETTER SEMANAL</h1>
        <p>CONOCE LAS NOVEDADES SOBRE PSICOLOGÍA QUE TENEMOS PARA TÍ</p>
      </ion-text>
      <form class="newsletter-form">
        <ion-item lines="none">
          <ion-input type="text" label="NOMBRE" labelPlacement="floating" name="name" required></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-input type="email" label="CORREO ELECTRÓNICO" labelPlacement="floating" name="email" required=""></ion-input>
        </ion-item>
        <ion-button type="submit" class="btn btn3" expand="block">SUSCRIBIRME</ion-button>
      </form>
    </div>

    <div class="post1">
      <div class="image-section">
        <div class="image-content">
          <img src="../../assets/img/posts/1.webp" alt="Post image" />
        </div>
      </div>
      <div class="text-section">
        <ion-text>
          <p class="date">14 de Julio de 2024</p>
          <h1>Como Elegir la Carrera Adecuada</h1>
          <div class="divider"></div>
          <p>¿Confundido sobre tu carrera? Descubre cómo tus intereses y 
            habilidades pueden guiarte hacia la opción ideal. Haz clic para 
            más información y encontrar tu camino profesional.
          </p>
        </ion-text>
        <ion-button class="btn btn3" routerLink="/blog">LEER MÁS</ion-button>
      </div>
    </div>
    
    <div class="post2">
      <div class="text-section">
        <ion-text>
          <p class="date">19 de Julio de 2024</p>
          <h1>La Importancia de la Salud Mental en el Entorno Empresarial</h1>
          <div class="divider"></div>
          <p>La salud mental de los empleados impulsa productividad y éxito.
            Conoce estrategias para mejorar el ambiente laboral y consulta
            nuestros programas de bienestar. ¡Haz clic para más detalles y agendar 
            una consulta!
          </p>
        </ion-text>
        <ion-button class="btn btn3" routerLink="/blog">LEER MÁS</ion-button>
      </div>
      <div class="image-section">
        <div class="image-content">
          <img src="../../assets/img/posts/2.webp" alt="Post Image" />
        </div>
      </div>
    </div>

    <div class="post3">
      <div class="image-section">
        <div class="image-content">
          <img src="../../assets/img/posts/3.webp" alt="Post image" />
        </div>
      </div>
      <div class="text-section">
        <ion-text>
          <p class="date">03 de Julio de 2024</p>
          <h1>¿Te cuesta conectar con tu hijo adolescente?</h1>
          <div class="divider"></div>
          <p>
            ¿Tienes dificultades para conectar con tu hijo adolescente?
            Aprende estrategias para fortalecer la relación y 
            considera la terapia si es necesario. Haz clic para obtener consejos y 
            agendar tu cita con nuestros expertos.
          </p>
        </ion-text>
        <ion-button class="btn btn3" routerLink="/blog">LEER MÁS</ion-button>
      </div>
    </div>
    
    

    <div class="comentarios-container">
      <ion-text>
        <p>Tu opinión es muy importante para nosotros.<br><br>Por favor, déjanos una reseña y cuéntanos tu experiencia.</p>
      </ion-text>
      <ion-button class="btn btn3" (click)="openResenaModal()">Dejar Reseña</ion-button>
    </div>

    <!-- MODAL PARA AGREGAR UNA RESEÑA -->
    <ion-modal #modal [isOpen]="isResenaModalOpen" (didDismiss)="didDismissResenaModal()" [enterAnimation]="enterAnimation"
    [leaveAnimation]="leaveAnimation">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title><h2 style="text-align: center;">Déjanos una reseña</h2></ion-title>
            <ion-buttons slot="end">
              <ion-icon name="close" class="close" (click)="closeResenaModal()"></ion-icon>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <form [formGroup]="agResena">
            <ion-item lines="none">
              <ion-input type="text" formControlName="contenido" required label="Reseña" labelPlacement="floating"></ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-input type="text" formControlName="autor" required label="Autor" labelPlacement="floating"></ion-input>
            </ion-item>
<!--             <ion-item lines="none">
              <ion-datetime formControlName="fecha" required label="Fecha" labelPlacement="floating" style="color: whit;"></ion-datetime>
            </ion-item> -->
            <ion-button class="btn btn3" (click)="createResena()" [disabled]="!isFormValid">Crear Reseña</ion-button>          </form>
          
        </ion-content>
      </ng-template>
    </ion-modal>

    <swiper-container class="comentario-slide" navigation="true" pagination="true" pagination-dynamic-bullets="true" autoplay-delay="3000">
      <swiper-slide *ngFor="let resena of resenas">
        <ion-text>
          <ion-chip>
            <ion-avatar>
              <img src="assets/icon/resi/resiliente-icon.png" />
            </ion-avatar>
            <ion-label>{{ resena.autor }}</ion-label>
          </ion-chip>
          <p>{{ resena.contenido }}</p>
        </ion-text>
      </swiper-slide>
    </swiper-container>
    <!-- FIN DEL MODAL -->

<!--     <div class="ultima-container">
      <ion-text>
        <h1>La última y nos vamos</h1>
      </ion-text>
      <br>
      <br>
      <div class="content">
        <div class="item" *ngFor="let item of ultimaItems">
          <img [src]="item.img" [alt]="item.title" />
          <div class="overlay">
            <ion-text>
              <h3>{{item.title}}</h3>
            </ion-text>
            <ion-button class="btn btn4">Leer más</ion-button>
          </div>
        </div>
      </div>
    </div> -->
    <div class="newsletter-container">
      <h3> Nuestros colaboradores </h3>
    </div>    
    <div class="Colabs">      
      <ion-grid>
        <ion-row>
          <ion-col size="auto" *ngFor="let colab of allColabs">
            <ion-img
              [src]="'data:image/jpeg;base64,' + colab.logotipo" [alt]="colab.acronimo"
              (click)="openUrl(colab.url)"              
            >  
            </ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <app-colorbar></app-colorbar>
    <app-footer></app-footer>
  </div>
</ion-content>