
<ion-content [fullscreen]="true">
  <div id="container">
    <ion-button color="primary">Soy un Botón primario</ion-button>
    <ion-button color="secondary">Soy un Botón Secundario</ion-button>
    <ion-button color="tertiary">Soy un Botón Terciario</ion-button>
    <ion-button color="success">Soy un Botón Success</ion-button>
    <ion-button color="warning">Soy un Botón Warning</ion-button>
    <ion-button color="danger">Soy un Botón Danger</ion-button>
    <ion-button color="medium">Soy un Botón Medium</ion-button>
    <ion-button color="light">Soy un Botón Light</ion-button>
    <ion-button color="dark">Soy un Botón Dark</ion-button>
  </div>
</ion-content>
