.cuerpo{
  margin-left: 15%;
  margin-right: 15%;
  color: rgb(255, 255, 255);
  padding: 25px;
  background-color: rgb(53, 164, 255);
  border-radius: 30px;
}

.contenidoCuerpo{
  justify-content: center;
  text-align: justify;
}

.pieCuerpo{
  text-align: right;
}


.img{
  border-radius: 30px;
  margin-left: 10%;
  margin-right: 10%;
}
