<ion-content [fullscreen]="true">
  <app-colorbar></app-colorbar>
  <app-navbar></app-navbar>

  <div id="container">

    <div class="nosotros-container">
      <div class="image-section">
        <div class="image-content">
          <img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="Image"/>
        </div>
      </div>
      <div class="text-section">
        <ion-text>
          <h1 class="title">Contacto</h1>
          <div class="divider"></div>
          <p class="text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae
            nunc tortor. Fusce pretium tristique sapien, et placerat elit
            sagittis ac. Praesent tempor lorem sem, sed commodo velit posuere
            eu.
          </p>
        </ion-text>
      </div>
    </div>

    
  <app-colorbar></app-colorbar>
  <app-footer></app-footer>
</div>
</ion-content>
